@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    background-image: url('https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 100vh;
}

h1 {
    text-transform: capitalize;
}

#canvas {
    width: 70vh;
    background-color: rgba(0, 0, 0, 0.733);
    margin: auto;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    color: rgb(234, 232, 228);
    font-size: large;
    font-family: 'Montserrat', sans-serif;
}

.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
      
    }

    .search input{

     height: 60px;
     text-indent: 25px;
     border: 2px solid #d6d4d4;


    }


    .search input:focus{

     box-shadow: none;
     border: 2px solid blue;


    }

    .search .fa-search{

     position: absolute;
     top: 20px;
     left: 16px;

    }

    .search button{

     position: absolute;
     top: 5px;
     right: 5px;
     height: 50px;
     width: 80px;
     
    }